# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [42]:
a= "name"
b= "surname"

# Write code to print the variable a 
print(a)
############

# Write Code to Change variable a into 30
a = 30
############

# Write Code to assign variable a the value of b
b = a
############

name

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [43]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment
c,b,a = a,b,c
######
print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [44]:
string = "this is a test!"

## Write Code to reverse string in one line
string = string[::-1]
##

print(string)

!tset a si siht

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [45]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code here
# Boolean list of clubs
clubs_membership = [club in membership for club in clubs]
# Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
clubs_membership = [1 if x else 0 for x in clubs_membership]
print (clubs_membership)

[1, 0, 0, 1, 0]

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [46]:
expression = 4_6_9_3_23_19 
print(expression)
# write your code here
# Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.
expression = 4*6-9/3+23%19
print(expression)

46932319
25.0

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [47]:
from math import sqrt
for i in range(100):
  isPrime = True
  # Write Code here
  for j in range(2,int(sqrt(i)+1)):
    if i%j==0:
      isPrime = False
  if not isPrime:
    continue
  #Don't tamper the next line
  print(str(i)  + " I was a prime")

0 I was a prime
1 I was a prime
2 I was a prime
3 I was a prime
5 I was a prime
7 I was a prime
11 I was a prime
13 I was a prime
17 I was a prime
19 I was a prime
23 I was a prime
29 I was a prime
31 I was a prime
37 I was a prime
41 I was a prime
43 I was a prime
47 I was a prime
53 I was a prime
59 I was a prime
61 I was a prime
67 I was a prime
71 I was a prime
73 I was a prime
79 I was a prime
83 I was a prime
89 I was a prime
97 I was a prime

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [48]:
list1 = ['abc','xyz','aba','1221']
# Write your code here
count = 0
for i in list1:
    if len(i)>=2 and i[0]==i[-1]:
        count+=1
print(count)

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [49]:
# Write your code here
#Write a Python program to print the numbers of a specified list after removing even numbers from it.  
list1 = [1,4,3,6,8,11,3]
print([x for x in list1 if x%2!=0])

[1, 3, 11, 3]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** : The "sampleDict" dictionary has already been defined in the below code .

**Expected Output**:
{'city': 'New york', 'age': 25}

In [50]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here
for i in keysToRemove:
  sampleDict.pop(i)
print(sampleDict)

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [51]:
# Write your code here 
#Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary
import os
notebook_path = os.path.abspath("Assignment_PythonBasics.ipynb")
txtpath = os.path.join(os.path.dirname(notebook_path), "students.txt")
f = open(txtpath, "r")
student_dict = {}
#10,John,CSE
for i in f:
    #three variables
    student_id, student_name, student_stream = i.split(",")
    student_dict[student_id] = {
        "name": student_name,
        "stream": student_stream
    }
print(student_dict)

{'10': {'name': 'John', 'stream': 'CSE\n'}, '23': {'name': 'Mary', 'stream': 'CSE\n'}, '45': {'name': 'Peter', 'stream': 'MTECH\n'}, '67': {'name': 'May', 'stream': 'MTECH\n'}, '89': {'name': 'June', 'stream': 'MTECH\n'}, '43': {'name': 'July', 'stream': 'ARTS\n'}, '56': {'name': 'August', 'stream': 'ARTS\n'}, '78': {'name': 'September', 'stream': 'ARTS\n'}, '90': {'name': 'October', 'stream': 'ARTS\n'}, '34': {'name': 'November', 'stream': 'DIPLOMA'}}

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [52]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them
#print common elements in set 1 and 2
print(set1.intersection(set2))

{10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [53]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
# Write your code here to replace last value of tuples in the list
#replace last value of tuples in the list
replace_var = 100
list1 = list(map(lambda x: (x[0], x[1], replace_var), list1))
print(list1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [54]:
# Write Your code here
# Write a function called showNumbers that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
def showNumbers(limit):
    for i in range(limit+1):
        if i%2==0:
            print(i,"EVEN")
        else:
            print(i,"ODD")
showNumbers(3)

0 EVEN
1 ODD
2 EVEN
3 ODD

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [55]:
# Write your code here
# Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.
def prime_numbers(limit):
    for i in range(2,limit+1):
        if (i%2==0 and i!=2) or (i%3==0 and i!=3) or (i%5==0 and i!=5) or (i%7==0 and i!=7):
            continue
        else:
            print(i)
prime_numbers(10)

2
3
5
7

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [56]:

class Student:
    def __init__(self, name, age, rollno, favsubject):
        self.name = name
        self.age = age
        self.rollno = rollno
        self.favsubject = favsubject
    def getDetails(self):
        print(self.name, self.age, self.rollno, self.favsubject)
    fav_list = ["EG","Mechanics","Chemistry"]
    def isFav(self):
        return self.favsubject in self.fav_list
student1 = Student("John", 20, "123", "EG")
student2 = Student("Mary", 21, "124", "Physics")
student1.getDetails()
print(student1.isFav())
student2.getDetails()
print(student2.isFav())

John 20 123 EG
True
Mary 21 124 Physics
False